/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


/* detail book */
/* header */
.header {
  background-color: rgb(255, 228, 225);
}
.navbar-header h2{
  margin-top: 10px;
}
.navbar-nav li a {
  height: 55px;
  margin-top: -2px;
}

/*** common ***/
/* button */
.w_btn .btn {
  width: 100%;
}
/* list */
.list_container {
   list-style-type: none;
   padding-left: 0;
}
.list_container li{
  width: 100%;
  display: flex;
  border-top: 2px #ddd solid;
}
.list_container .item_img {
  width: 10%;
}
.list_container .item_heading {
  width: 45%;
  line-height: 50px;
}
.list_container .item_sub {
  width: 45%;
  padding-top: 5px;
}
.list_container img {
  width: 50px;
  height: 50px;
}
.list_heading {
  width: 100%;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.list_space1 {
  width: 10%;
}
.list_space2 {
  width: 45%;
}
.list_space3 {
  width: 45%;
}

/* user info */
.user_heading h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}
/* new book */
.new_book_wrap {
  margin-bottom: 10px;
}
.new_book_wrap label {
  font-size: 16px;
}
.new_book_wrap input,textarea {
  width: 100%;
}

/* detail book */
.book_detail_box {
  width: 100%;
  display: flex;
  border-top: 2px #ddd solid;
}
.mini_profile {
  display: flex;
  width: 10%;
  justify-content: center;
  flex-direction: column;
  text-align:center;
}
.mini_profile img{
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.detail_title {
  width: 30%;
  padding-left: 5%;
  padding-top: 20px;
}
.detail_opinion {
  width: 30%;
  padding-left: 2%;
  padding-top: 20px;
}
.detail_button_box {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
